.flex-card {
    width: 45%;
    margin-bottom: 5%;
  }
  
  .summ-title {
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    color: white;
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .p-text {
    color: rgba(255, 96, 96, 1);
    padding-left: 2%;
    padding-right: 2%;
  }
  
  i {
    font-size: 10px;
  }
  
  .flex-card summary i {
    transition: transform 0.3s ease;
  }
  
  .flex-card.open summary i.rotate {
    transform: rotate(180deg);
  }
  
  .flex-card.open {
    background: #F7F7F7;
    border-radius: 10px;
  }