.loc-square {
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.card-link {
    text-decoration: none;
}

.loc-title {
    margin-left: 5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;

    color: #ffffff;
}